<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="stijl.css" />
    <title>Fietsen</title>
  </head>
  <body>
    <div id="header">
    <h1>Stations</h1>
    <nav>
      <ul>
        <li><a href="/_site/index.html">Home</a></li>
        <li><a href="/_site/fietsen.html">Fietsen</a></li>
        <li><a href="/_site/gebruikers.html">Gebruikers</a></li>
        <li><a href="/_site/sloten.html">Sloten</a></li>
        <li><a href="/_site/station.html">Station</a></li>
      </ul>
    </nav>
  </div>
    <table>
      <tr>
        <th>ID</th>
        <th>lokatie</th>
        <th>Capasiteit</th>
      </tr>
      {% for item in Stations %}
      <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
      </tr>
      {% endfor %}
  </body>
</html>
